#about_us, #home, #international_drayage, #contact {
    min-height: 300px;
}

.logo{
    height: 95px;
    width: 275px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav {
    margin-top: 25px;
}

.carousel{
    margin-bottom: 60px;
}

.carousel-caption{
    z-index: 10;
    padding-bottom: 60px;
}

.carousel-inner .item{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.main_img2{
    background-image: url('../img/APL_Truck_028.JPG');
} 

.main_img3{
    background-image: url('../img/APL_Truck_036.JPG'); */
}

#about_us .container-fluid{
    margin-bottom: 50px;
}

 h1{
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 70px;
    font-kerning: normal;
    text-transform: uppercase;
}

#about_us h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6em;
    font-weight: 900;
    color: #05367d;
    text-transform: uppercase;
    margin-top: 125px;
    letter-spacing: 2px;
    margin-left: 23px;

}

#about_us h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.7em;
    margin-top: 5px;
    /* margin-left: 5px; */
    letter-spacing: 1.5px;
}

#about_us p{
    font-weight: 300;
}

.bold{
    font-weight: 400;
}

.parallax .center{
    background-image: url('../img/APL_Truck_050.JPG');
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    width: 100%;
    margin-top: 20px;
}

/* #review .center {
    margin: 0 auto;
    float: none;
    background-color: rgba(20,20,20,.6);
    padding: 10px;
    margin-top: 145px;
    border-radius: 5px;
} */

/* #international_drayage{
    background-color: #05367d;
}

/* #international_drayage */

#international_drayage .container_fluid {
    background-color: #05367d;
}


#international_drayage, p{
    font-weight: 300;
    color: #05367d;
}


#international_drayage h1{
    color: #05367d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 75px;
    letter-spacing: 2px;
    text-align: center;
}

/* #international_drayage h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    font-weight: 900;
    color:#05367d;
    text-transform: uppercase;
    margin-top: 75px;
    letter-spacing: 2px;
    margin-left: 23px; */
    text-align: center;
} 

.drayage{
    color: #05367d;
    margin-bottom: 30px;
} 